@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-input {
    background-color: transparent; 
    color: white !important;
    border-radius: 8px;
    border: 1px solid white;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
}

.autoevaluation_container{
    position: relative;
    margin-left: 86%;
    display: flex;
    width: 150%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}


